{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Пресс-центр - Новости &mdash; {{ article.title }}{% endblock %}

{% block og_url %}{{ url('engage360d_takeda_press_center_article', {'articleType': article.type, 'id': article.id}) }}{% endblock %}

{% block section %}
    <div class="container">
        <!-- head -->
        <div class="head">
            <div class="head__right">
                <div class="head__city">
                  {% include "Engage360dTakedaBundle::geo_ip_city.html.twig" %}
                </div>
            </div>
            <div class="head__left">
                <!-- h -->
                <div class="h">Новости</div>
            </div>
        </div>
        <!-- details -->
        <div class="details">
            <div class="details__left">
                <!-- content -->
                <div class="content">
                    <div class="article_meta">
                        <span class="article_meta__date">{{ article.createdAt.format("d.m.Y") }}</span>
                        <span class="article_meta__type {{ article.category.keyword }}">{{ article.category.data }}</span>
                    </div>
                    <h2>{{ article.title }}</h2>
                    {{ article.content | raw }}
                    {{ include('Engage360dTakedaBundle:PressCenter:social_buttons.html.twig') }}
                </div>
            </div>
            <div class="details__right">
                <!-- h -->
                <div class="h h_2">Последние новости:</div>
                <ul class="details__links">
                    {% for news in recentArticles %}
                        <li>
                            <span class="muted_text">{{ news.createdAt.format('d.m.Y') }}&nbsp;&nbsp;&nbsp;{{ news.category.data }}</span>
                            <a class="link link_black" href="{{ path('engage360d_takeda_press_center_article', {'articleType': news.type, 'id': news.id}) }}">
                                <span>{{ news.title }}</span>
                                <i class="icon icon-arr-circle-right"></i>
                                <i class="icon icon-arr-circle-right-fill"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
