{% extends "Engage360dTakedaBundle::base.html.twig" %}

{% block body %}
<!-- wrapper-->
<div class="wrapper">
  <!-- aside -->
  <div class="aside">
    <!-- logo -->
    <div class="logo">
      <a class="logo__pic" style="display: block" href="/"></a>
    </div>
    <!-- nav -->
    <nav class="nav">
      <ul>
        <li><a
                    href="{{ path('engage360d_takeda_account_recommendations') }}"
                    class="{% if app.request.getRequestUri starts with '/account' %}is-active{% endif %}"
            >Личный кабинет<i class="icon icon-user"></i></a></li>
        <li><a
                    href="{{ path('engage360d_takeda_about') }}"
                    class="{% if app.request.getRequestUri == path('engage360d_takeda_about') %}is-active{% endif %}"
            >Препарат</a></li>
        <li><a
                    href="/factors"
                    class="{% if app.request.getRequestUri starts with '/factors' %}is-active{% endif %}"
            >Предрасполагающие факторы</a></li>
        <li><a
                    href="{{ path('engage360d_takeda_good_to_know') }}"
                    class="{% if app.request.getRequestUri starts with path('engage360d_takeda_good_to_know') %}is-active{% endif %}"
            >Полезно знать</a></li>
        <li><a
                    href="{{ path('engage360d_takeda_risk_analysis') }}"
                    class="{% if app.request.getRequestUri starts with path('engage360d_takeda_risk_analysis') %}is-active{% endif %}"
            >Анализ рисков</a></li>
        <li><a
                    href="{{ path('engage360d_takeda_institutions') }}"
                    class="{% if app.request.getRequestUri starts with path('engage360d_takeda_institutions') %}is-active{% endif %}"
            >Поиск учереждений</a></li>
        <li><a
                    href="{{ path('engage360d_takeda_press_center') }}"
                    class="{% if app.request.getRequestUri starts with path('engage360d_takeda_press_center') %}is-active{% endif %}"
            >Пресс-центр</a></li>
      </ul>
    </nav>
    <!-- search-form -->
    <form class="search-form" method="get" action="{{ path('engage360d_takeda_search') }}">
      <input type="text" placeholder="Поиск" name="query" />
      <button><i class="icon icon-search"></i></button>
    </form>
    <!-- links -->
    <ul class="links">
      <li><a href="/about/about" class="{% if app.request.getRequestUri starts with '/about' and app.request.getRequestUri != path('engage360d_takeda_about') %}is-active{% endif %}">О компании</a></li>
      <li><a href="/contacts" class="{% if app.request.getRequestUri == '/contacts' %}is-active{% endif %}">Контакты</a></li>
    </ul>
    <!-- app -->
    <ul class="links-app">
      <li><a target="blank" href="https://itunes.apple.com/ru/app/kardiomagnil-zdorovoe-serdce/id862662989?mt=8"><span>IPhone</span><i class="icon icon-os-ios"></i></a></li>
      <li><a target="blank" href="https://play.google.com/store/apps/details?id=ru.com.cardiomagnil&hl=ru"><span>Android</span><i class="icon icon-os-android"></i></a></li>
    </ul>
    <!-- social -->
    <ul class="social">
      <li><a class="social__vk" href="#"><i class="icon icon-soc-vk"></i></a></li>
      <li><a class="social__fb" href="#"><i class="icon icon-soc-fb"></i></a></li>
      <li><a class="social__ok" href="#"><i class="icon icon-soc-ok"></i></a></li>
      <li><a class="social__gplus" href="#"><i class="icon icon-gplus"></i></a></li>
    </ul>
    <!-- subscribe -->
    <form class="subscribe js-subscribe">
      <label>
        <input type="text" placeholder="Подписка на обновления">
        <button class="subscribe__btn"><i class="icon icon-mail"></i></button>
      </label>
    </form>
    <script>
      (function() {
        var $ = takeda.$;
        var progress = false;

        $(function(){
          $('.js-subscribe').each(function(){
          var $form = $(this);
          var $input = $form.find('input');

          $form.submit(function(event) {
            event.preventDefault();
            if (progress) return;
            var email = $input.val();
            if (!/.+@.+\..+/.test(email)) {
              return alert('Некорректно указан email адрес');
            }
            progress = true;
            $.post('/api/v1/subscription-contacts', {
              data: {email: email}
            }, function(data) {
              progress = false;
              if (data.data) {
                $input.val('');
                alert('Вы успешно подписаны на обновления');
              } else if (data.errors) {
                alert(data.errors[0]);
              } else {
                alert('Произошла неизвестная ошибка, пожалуйста попробуйте позже');
              }
            });
          });
          });
        });
      })();
    </script>
    <!-- footer -->
    <footer class="footer">
      <a class="takeda" href="http://www.takeda.com.ru/" target="_blank"></a>
      <div class="copyright">© 2013 Takeda</div>
    </footer>
  </div>

  <div class="legal">
      <p class="legal__note">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ К ПРИМЕНЕНИЮ. НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ</p>
      <p>г.Москва,  ул. Усачева, дом 2, стр. 1, бизнес-центр «Фьюжн Парк»<br />Тел.: +7 (495) 933-55-11. Факс: +7 (495) 502-16-25. russia@takeda.com</p>
  </div>
  <!-- section -->
  <div class="section">
    {% block section %}{% endblock %}
  </div>
</div>
{% endblock %}
