{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Мои отчеты{% endblock %}

{% block stylesheets %}
<style>
    @media print {
        .aside,
        .head,
        .tabs,
        .link.link_black,
        .report__send-in,
        .btn-circles
        {
            display: none !important;
        }
    }
</style>
{% endblock %}

{% block section %}
    <div class="container">
        <div class="head">
            <div class="head__right">
                <div class="head__city">
                    <a href="#"><i class="icon icon-marker"></i><span>Москва</span></a>
                </div>
                <div class="head__out">
                    <a href="/sign-out">Выход</a>
                </div>
            </div>
            <div class="head__left">
                <div class="h">{{app.user.fullName}}</div>
            </div>
        </div>
        {{ include('Engage360dTakedaBundle:Account:tabs.html.twig') }}
        <!-- report -->
        <div id="Report"></div>
        {% if app.request.get("reportType") == "isr" %}
            <!-- content -->
            <div class="content">
                <p>Индекс соблюдения рекомендаций (ИСР) - наглядный параметр, показывающий как хорошо вы выполняете рекомендации и следите за своим здоровьем.</p>
                <p>Чем выше ИСР - тем выше вероятность, что при следующем SCORE анализе ваши результаты улучшаться.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        takeda.render(takeda.Report, 'Report', {
            report: {{ report | serialize | raw }},
            reportType: "{{ app.request.get("reportType") }}",
            institutionsLink: "{{ path('engage360d_takeda_institutions') }}",
            backLink: "{{ path('engage360d_takeda_account_reports_list') }}"
        });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:["corechart"]});
    </script>
{% endblock %}
