{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Мои данные{% endblock %}

{% block section %}
<div class="container">
  <div class="head">
    <div class="head__right">
      <div class="head__city">
        <a href="#"><i class="icon icon-marker"></i><span>Москва</span></a>
      </div>
      <div class="head__out">
        <a href="/sign-out">Выход</a>
      </div>
    </div>
    <div class="head__left">
      <div class="h">{{app.user.fullName}}</div>
    </div>
  </div>
  <div class="tabs">
    <a href="{{ path('engage360d_takeda_account_recommendations') }}" class="button">Мои рекомендации</a>
    <a class="button">Мой таймлайн</a>
    <a class="button">Мои отчеты</a>
    <a href="{{ path('engage360d_takeda_account_settings') }}" class="button is-active">Мои данные</a>
  </div>
  <div id="Settings"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  takeda.render(takeda.Settings, 'Settings', {
    user: {{ user | serialize | raw }},
    regions: {{ regions | serialize | raw }}
  });
</script>
{% endblock %}
