{% extends "::layout.html.twig" %}

{% block title %}Анализ риска{% endblock %}
{% block description %}Анализ риска{% endblock %}

{% block content %}
  <div class="city">
    <a href="#"><i></i><span>Москва</span></a>
  </div>
  <div class="title title_out">Рекомендации</div>
  
  <div class="back">
		<a class="link link_back" href="{{ path('engage360d_takeda_user_account') }}#test-result-{{testResult.id}}"><i></i><span>Вернуться к результатам</span></a>
	</div>

  <div class="page">
    <div class="info">
			<div class="info__item">
				<div class="info__cholesterol">
					<div class="title title_level-2">{{page.title}}<i class="ico-bell"></i></div>
					<ul class="info__cholesterol-info">
						<li>{{page.subtitle}}</li>
					</ul>
				</div>
			</div>
			{#
			<div class="info__item">
				<div class="info__md">
					<div class="info__md-title">Обратитесь к врачу для решения вопроса о необходимости приема лекарств, снижающих уровень холестерина<i class="ico-md"></i></div>
					<button class="btn">Подобрать мед. учереждение по близости</button>
				</div>
			</div>
			#}
			<div class="info__item">
				<div class="content">
					{{page.text|nl2br}}
				</div>
			</div>
		</div>
  </div>

  {% include "Engage360dTakedaTestBundle:Test:test_result_activity.html.twig" %}
{% endblock %}
