{% extends "::layout.html.twig" %}

{% block content %}
  <div class="page">
    <div class="city">
      <a href="#"><i></i><span>Москва</span></a>
    </div>
    <div class="title">{{recommendation.pageTitle}}</div>

    <h2>{{recommendation.pageSubtitle}}</h2>
    <br />
    <br />
    
    {{recommendation.pageText|nl2br}}
    
    <br />
    <br />
    
    <table>
      <tr>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'cholesterolLevel'}) }}">Холестерин</a></td>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'smoking'}) }}">Курение</a></td>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'extraSalt'}) }}">Соль</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'bmi'}) }}">Вес</a></td>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'arterialPressure'}) }}">Давление</a></td>
        <td><a href="{{ path('engage360d_takeda_test_get_test_result_recommendation', {id: testResult.id, type: 'physicalActivity'}) }}">Физическая активность</a></td>
        <td></td>
      </tr>
    </table>
  </div>
{% endblock %}
