{% extends "::layout.html.twig" %}

{% block title %}{% if page %}{{ page.seoTitle }}{% endif %}{% endblock %}
{% block description %}{% if page %}{{ page.seoDescription }}{% endif %}{% endblock %}
{% block keywords %}{% if page %}{{ page.seoKeywords }}{% endif %}{% endblock %}

{% block content %}
  <div class="city">
	  <a href="#"><i></i><span>Москва</span></a>
	</div>
  <div class="title title_out">{{ category.name }}</div>
	<div class="page">
	  <div style="padding:0px 10px;">
  	  {% if page %}
  			{% for data in takeda_page_blocks(page) %}
  			  <div class="main__text">{{ data|raw }}</div>
  			{% endfor %}
  		{% endif %}
  		
  		{% if pages %}
  			{% for item in pages %}
  			  {% if page != item %}
    			  <div>
    			    <a href="{{ takeda_page_url(item) }}">{{ item.title }}</a>
    			  </div>
    			{% endif %}
  			{% endfor %}
  		{% endif %}
  	</div>
	</div>
{% endblock %}
