{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block section %}
    <!-- container -->
    <div class="container">
        <!-- head -->
        <div class="head">
            <div class="head__right">
                <div class="head__city">
                    {% include "Engage360dTakedaBundle::geo_ip_city.html.twig" %}
                </div>
            </div>
            <div class="head__left">
                <!-- h -->
                <div class="h">{{ page.title }}</div>
            </div>
        </div>
        <!-- details -->
        <div class="details">
            <div class="details__left">
                {% if blocks[0] is defined %}
                    {{ sonata_block_render({ 'type': blocks[0].type }, blocks[0].getJsonDecoded) }}
                {% endif %}
            </div>
            <div class="details__right">
                <!-- h -->
                {% if factorsArticles|length > 0 %}
                    <div class="h h_2">Статьи по теме:</div>
                    <ul class="details__links">
                        {% for article in factorsArticles %}
                            <li>
                                <a class="link link_black" href="{{ article.url }}">
                                    <span>{{ article.title }}</span>
                                    <i class="icon icon-arr-circle-right"></i>
                                    <i class="icon icon-arr-circle-right-fill"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% for block in blocks %}
            {% if loop.index > 1 %}
                {{ sonata_block_render({ 'type': block.type }, block.getJsonDecoded) }}
            {% endif %}
        {% endfor %}
    </div>
    {% include "Engage360dTakedaBundle:Page:factors.footer.menu.html.twig" %}
{% endblock %}