{% extends "::layout.html.twig" %}

{% block title %}{% if page %}{{ page.seoTitle }}{% endif %}{% endblock %}
{% block description %}{% if page %}{{ page.seoDescription }}{% endif %}{% endblock %}
{% block keywords %}{% if page %}{{ page.seoKeywords }}{% endif %}{% endblock %}

{% block content %}
  <div class="city">
	  <a href="#"><i></i><span>Москва</span></a>
	</div>
  <div class="title title_out">{{ page.title }}</div>
	<div class="page">
	  <div style="padding:0px 10px;">
  	  {% for data in takeda_page_blocks(page) %}
  		  <div class="main__text">{{ data|raw }}</div>
  		{% endfor %}
  	</div>
	</div>
{% endblock %}
